body {
    background-color: #faf2e5;
    margin-right: 25%;
    margin-left: 25%;
}

img {
    display: block;
    margin: auto;
    
}

hr {
    background-color: rgb(166, 197, 233);
}

h1 {
    text-align: center;
}
#first .restaurant {
    color: rgb(189, 105, 37);
}

#first .catering {
    color: rgb(175, 94, 27);
}


#first .location{
    color: rgb(175, 94, 27);
}